<div style="padding-top:48px"></div>
<div class="mdl-grid mdl-grid--no-spacing">
	<div class="mdl-cell mdl-cell--3-col"></div>
	<div class="mdl-cell mdl-cell--6-col">
		<h4>Overview</h4>
		<p>
			Welcome to the 5327C Online Notebook! Here you can view our robot and its documented modifications. You can find many great things here. Like Robots. Wow!
		</p>
		<br>
		<p>
			Check out some parts of our notebook
		</p>
		<br>
	</div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
	<div style="background-color:#B3E0E1" class="mdl-cell mdl-cell--4-col"></div>
	<div style="background-color:#B3E0E1" class="mdl-cell mdl-cell--4-col">
		<img style="margin:60;margin-bottom:30" src="./public/src/img/material1.svg">
		<a href="/#/about" style="color:#18BFD6"><h4 style="color:#000000;margin-bottom:0">About 5327C</h4></a>
		<h6 style="margin-top:0">Learn all about our team</h6>
	</div>
	<div style="background-color:#B3E0E1" class="mdl-cell mdl-cell--4-col"></div>
	<div style="background-color:#E90974" class="mdl-cell mdl-cell--1-col"></div>
	<div style="background-color:#E90974" class="mdl-cell mdl-cell--3-col">
		<img style="margin:60" src="./public/src/img/material3.svg">
	</div>
	<div style="background-color:#E90974" class="mdl-cell mdl-cell--2-col">
		<a href="/#/team" style="color:#F6A623"><h4 style="color:#FFFFFF;text-align:right;padding-right:30">Our Team</h4></a>
		<h6 style="color:#FFFFFF;text-align:right;padding-right:30">Find out about our members</h6>
	</div>
	<div style="background-color:#8F4099" class="mdl-cell mdl-cell--2-col">
		<a id="homeEntries" href="" style="color:#EA5B61"><h4 style="color:#FFFFFF;padding-left:30">Entries</h4></a>
		<h6 style="color:#FFFFFF;padding-left:30">Read about how Derick fixes our robot</h6>
	</div>
	<div style="background-color:#8F4099" class="mdl-cell mdl-cell--4-col">
		<img style="margin:60" src="./public/src/img/material4.svg">
	</div>
	<div style="background-color:#191E80" class="mdl-cell mdl-cell--5-col"></div>
	<div style="background-color:#191E80" class="mdl-cell mdl-cell--3-col">
		<img style="margin:60;margin-bottom:30" src="./public/src/img/material2.svg">
		<a href="/#/builds" style="color:#FFCCBA"><h4 style="color:#FFFFFF;margin-top:16px;margin-bottom:0">Builds</h4></a>
		<h6 style="color:#FFFFFF;margin-top:0;padding-bottom:15">See how our robot changes over time</h6>
	</div>
	<div style="background-color:#191E80" class="mdl-cell mdl-cell--4-col"></div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
	<div class="mdl-cell mdl-cell--3-col"></div>
	<div class="mdl-cell mdl-cell--6-col">
		<h4 style="padding-top:30">Github</h4>
		<p>
			Whaaaat? You want to use this site yourself? I wouldn't advise it because its messy, but it will be on Github someday
		</p>
	</div>
</div>
<script>
	$('#homeEntries').click(function(){ loadEntries() });
</script>